@charset"UTF-8";
body{
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
    background-repeat: no-repeat;
    height:0vh;
    background-image:url("IMG_1342.JPG");
    background-size: 100%;
}
.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.top-wrapper {
    padding: 180px o 100px 0;
   
    
}
.container h1{
    color:white;
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    text-align: center;
}
.container p{
    color: white;
    opacity: 0.7;
    text-align: center;

}

.menu-icon{
    color: white;
    float: right;
    display: none;
    font-size: 25px;
    padding:21px 0px;
}

.header-list li{
    list-style: none;
    float: left;
    padding: 33px 20px;
}

.header-logo {
    float: left;
    font-size: 36px;
    padding-top: 20px 40px;
    color: greenyellow;
}




.main{
    padding: 100px 80px;
}

.copy-container h1{
    font-size: 140px;
}

.copy-container h2{
    font-size: 60px;
}

.btn {
    padding: 8px 24px;
    display: inline-block;
    opacity: 0.8;
    transition: all 0.5s;
    
}

.contents-item {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
    
    
}
.contents-item p{
    
    top: 45px;
    margin: auto;
    padding: auto;
    
}

.btn:hover {
    opacity: 1;
}


.besuchen{
    width:200px;
    height: 100px;
    background-color: orange;
    border-radius: 10px;
    box-shadow:0 7px rgba(255, 166, 0, 0.829);
}

.budget {
    width: 200px;
    height: 100px;
    background-color: pink;
    border-radius: 10px;
    box-shadow:0 7px rgba(255, 192, 203, 0.856);
}

.eigentum {
    width: 200px;
    height: 100px;
    background-color: rgb(0, 217, 255);
    border-radius: 10px;
    box-shadow:0 7px rgba(0, 217, 255, 0.836);
}

.impfungen {
    width: 200px;
    height: 100px;
    background-color: rgb(134, 247, 134);
    border-radius: 10px;
    box-shadow:0 7px rgba(134, 247, 134, 0.808);
}

.contents{
    height:500px;
    margin-top: 100px;
}

.section-title{
    border-bottom:2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.contents-item{
    margin-right: 40px;
    padding: 10px;
    float: left;
    width: 25%;
}


.contact-form{
    padding-top: 100px;

}

input,textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
}

.contact-submit{
    background-color: #dee7ec;
    color: #889eab;
}
.header{
    height: 65px;
    background-color: rgba(34,49, 52, 0.9);
}
.logo img{
    width: 4px;
    margin-top: 2px;
}
.header-left{
    float: left;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
}
.header-left:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.footer{
    background-color: #2f5167;
    color:#fff
    
}
.footer-logo {
    font-size: 32px;
    float: left;
}
.footer-list{
    float:right
}

.footer-list li{
    list-style: none;
    padding-bottom: 20px;
    float: right;
}

.contact-form p{
    color: white;
}


.contents-item a{
    line-height: 65px;
    padding: 0 auto;
    display: block;
}



